<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form" method="post" action="">
        {%csrf_token%}
    {% for subject in output%}
    <ul>
        <li>{{subject.name}} <br>{{subject.category}}
        <br><a  href="{{subject.website}}">{{subject.website}}</a> </li>
       
      </ul>
    {% endfor %}
    </form>
</body>
</html>